	global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend student_frontend
    bind *:80
    # ACL to identify student form requests
    acl  is_student_form path_beg /form/
    # Route matching requests to the backend
    use_backend student_backends if is_student_form
    # Reject requests that do not match
    http-request deny

    default_backend student_backends


backend student_backends
    balance roundrobin

    option httpchk GET /form/

    server backend1 backend-1:8080 check
    server backend2 backend-2:8080 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
